form{
	margin: 20px auto;
	text-align: center;
}
form div {
	font-size: 1.5em;
	display: inline-block;
}
#boxes {
	width: 600px;
	height: 600px;
	margin: 10px auto;
}
#boxes div{
	width: 150px;
	height: 150px;
	font-size: 2em;
	border: 1px solid black;
	float: left;
	box-sizing: border-box;
	position: relative;
	text-align: center;
	line-height: 150px;
}
